.main {
  background-color: rgb(244, 241, 241);
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 50px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 34;
}
.submain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  /* padding-top: 30px; */
}
.backbtn_box {
  /* margin: 20px 0; */
  padding-left: 30px;
  box-sizing: border-boxs;
}
.backbtn_div {
  border: none;
  background-color: transparent;
  font-size: 2rem;
}
.product_box {
  display: flex;
  width: 100%;
  /* border: 2px solid red; */
  justify-content: center;
  /* background-color: white; */
}
.product_picture_box {
  display: flex;
  width: 30%;
  /* margin-left: 40px; */
  /* border: 1px solid gray; */
  background-color: white;
}
.product_groupPictures_box {
  width: 25%;
  /* margin: 0 20px; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.product_group_pic {
  /* width: 100%; */
  height: 50px;
  margin: 20px;
  border: 1px solid gray;
}
.groupImage {
  width: 100%;
  height: 100%;
}
.product_view_pic {
  width: 100%;
  height: 400px;
  margin-top: 40px;
}
.product_details_box {
  width: 50%;
  /* margin-left: 40px; */
  background-color: white;
  padding: 20px;
  height: 80vh;
  overflow: auto;
}
.product_name {
  font-size: 1.5rem;
}
.product_rating_box {
  display: flex;
  margin-top: 5px;
  font-size: 0.9rem;
}
.product_rating {
  background-color: green;
  width: 50px;
  text-align: center;
  color: white;
  border-radius: 3px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  font-weight: bold;
}
.star_icon {
  margin-left: 2px;
}
.product_review_box {
  color: gray;
  font-weight: 600;
  margin-left: 5px;
}
.price_box {
  margin: 7px 0;
}
.price_text {
  font-weight: bolder;
  font-size: 1.8rem;
}
.color_box {
  width: 100%;
  display: flex;
  margin: 12px 0;
  margin-bottom: 20px;
}
.color_text {
  width: 10%;
  color: gray;
  font-weight: bold;
}
.color_div {
  width: 30%;
  display: flex;
  /* justify-content: space-around; */
}
.product_color {
  width: 30%;
  height: 60px;
  margin-left: 10px;
  border: 1px solid gray;
}
.specifications_box {
  width: 100%;
}
.specifications_text {
  font-size: 1.6rem;
  font-weight: bold;
}
.specifications_div {
  display: flex;
  width: 100%;
  margin: 3px 0;
}
.specifications_title {
  width: 30%;
  color: rgb(116, 116, 116);
  font-weight: bold;
}
.specifications_value {
  width: 70%;
}
.add_cart_box {
  width: 100%;
}
.cart_count {
  display: flex;
  font-size: 1.7rem;
  width: 30%;

  justify-content: center;
}
.item_purches_count {
  margin: 0 40px;
}
.minus_btn,
.plus_btn {
  border: none;
  background-color: transparent;
}
.add_to_cart_btn {
  width: 30%;
  height: 50px;
  border: none;
  background-color: rgb(255, 94, 0);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  transition: all 1s;
}
.add_to_cart_btn:hover {
  /* transform: scale(0.98); */
  transform: scale(0.9);
  transition: all 1s;
}
.cart_icon {
  margin-right: 4px;
  font-size: 1.2rem;
}
.tooltipStyle {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}
.tooltipStyle:hover {
  background-color: transparent;
}
.product_groupPictures_box_mobile {
  display: none;
}
/* ============== Tablets and Desktop ============= */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* tablets and desktop */
  .product_box {
    display: flex;
    width: 100%;
    /* border: 2px solid red; */
    justify-content: center;
    /* background-color: white; */
    flex-direction: column;
    align-items: center;
  }
  .product_picture_box {
    display: flex;
    width: 82%;
    /* margin-left: 40px
px
; */
    /* border: 1px solid gray; */
    background-color: white;
    /* display: none; */
  }
  .product_view_pic {
    width: 100%;
    height: 400px;
    margin-top: 40px;
    margin-bottom: 29px;
  }
  .product_details_box {
    width: 96%;
    /* margin-left: 40px; */
    background-color: white;
    padding: 20px;
    /* height: 80vh; */
    height: 100%;
    /* overflow: auto; */
  }
  .product_group_pic {
    /* width: 100%; */
    height: 92px;
    margin: 20px;
    border: 1px solid gray;
  }
  .backbtn_box {
    /* margin: 20px 0; */
    padding-left: 30px;
    margin-top: 6px;
    box-sizing: border-boxs;
  }
  .product_details_box {
    width: 96%;
    /* margin-left: 40px; */
    background-color: white;
    padding: 20px;
    /* height: 80vh; */
    height: 100%;
    /* overflow: auto; */
    padding-bottom: 111px;
  }
}

/* ============== Phone ================ */
@media only screen and (max-width: 767px) {
  /* phones */
  .product_box {
    display: flex;
    width: 100%;
    /* border: 2px solid red; */
    justify-content: center;
    /* background-color: white; */
    flex-direction: column;
    align-items: center;
  }
  .product_details_box {
    width: 93%;
    /* margin-left: 40px; */
    background-color: white;
    padding: 20px;
    height: 100%;
    /* overflow: auto; */
  }
  .color_div {
    width: 62%;
    display: flex;
    /* justify-content: space-around; */
    margin-left: 20px;
  }
  .product_details_box {
    width: 93%;
    /* margin-left: 40px; */
    background-color: white;
    padding: 20px;
    height: 100%;
    /* overflow: auto; */
    padding-bottom: 73px;
  }
  .add_cart_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 12px; */
  }
  .cart_count {
    display: flex;
    font-size: 1.7rem;
    width: 44%;
    justify-content: center;
    margin-bottom: 8px;
  }
  .add_to_cart_btn {
    width: 68%;
    height: 50px;
    border: none;
    background-color: rgb(255, 94, 0);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: all 1s;
    /* border-radius: 7px; */
  }
  .specifications_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .specifications_title {
    width: 59%;
    color: rgb(116, 116, 116);
    font-weight: bold;
  }
  .product_picture_box {
    display: flex;
    width: 30%;
    /* margin-left: 40px; */
    /* border: 1px solid gray; */
    background-color: white;
    /* display: none; */
  }
  .product_groupPictures_box_mobile {
    /* display: flex; */
    display: none;
    width: 100%;
    height: 300px;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .product_group_pic1 {
    width: 300px;
    /* height: 300px; */
    height: 100%;
  }
  .image_wrapper {
    /* height: 210px; */
    height: 200px;
    width: 100%;
  }
  .product_group_pic1 {
    width: 100%;
  }
  .carousel-container {
    width: 100%;
  }
  .product_description_text {
    font-size: 0.9rem;
  }
  .main {
    background-color: white;
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 34;
  }
  .product_box {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* border: 2px solid red; */
    justify-content: center;
    background-color: white;
    align-items: center;
  }
  .product_picture_box {
    display: flex;
    width: 84%;
    /* margin-left: 40px; */
    /* border: 1px solid gray; */
    background-color: white;
  }
  .product_groupPictures_box {
    width: 30%;
    /* width: 25%; */
    /* margin: 0 20px
px
; */
  }
  /* .product_view_pic {
    width: 59%;
    height: 329px;
    margin-top: 40px;
  } */
  .product_view_pic {
    width: 59%;
    height: 254px;
    margin-top: -20px;
    margin-bottom: 20px;
  }
  .product_details_box {
    width: 96%;
    /* margin-left: 40px; */
    background-color: white;
    padding: 20px;
    height: 100%;
    /* overflow: auto; */
    margin-bottom: 82px;
  }
  .color_div {
    width: 78%;
    display: flex;
    /* justify-content: space-around; */
    /* margin-right: 69px !important; */
  }
  /* .product_color {
    width: 23%;
    height: 59px;
    margin-left: 52px;
    border: 1px solid gray;
  } */
  .product_description_text {
    font-size: 0.9rem;
  }
  .add_cart_box {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .add_to_cart_btn {
    width: 86%;
    height: 50px;
    border: none;
    background-color: rgb(255, 94, 0);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: all 1s;
  }
  .specifications_title {
    width: 46%;
    color: rgb(116, 116, 116);
    font-weight: bold;
  }
  .specifications_value {
    width: 50%;
  }
  .specifications_text {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 9px !important;
  }
}
