.navbar {
  width: 100%;
  height: 50px;
  /* background-color: bisque; */
  background-color: #e6dbcd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.logo {
  height: 80%;
  width: 140px;
  margin-left: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  /* text-transform: uppercase; */
}
.store_text {
  background-color: orange;
  padding: 5px;
  box-sizing: border-box;
  margin-right: 3px;
}
.navbar_menu {
  margin-right: 20px;
  display: inline-block;
}
.navbar_ul {
  display: inline-block;
  margin-bottom: 0 !important;
}
.navbar_list {
  display: inline-block;
  height: 100%;
  margin: 0 15px;
}
.navbar_link {
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.profile_button {
  background-color: transparent;
  border: none;
  /* display: flex;
  align-items: center; */
}
.profile_icon {
  font-size: 1.3rem;
}
.cart_button {
  background-color: transparent;
  border: none;
  position: relative;
}
.cart_count {
  background-color: rgb(250, 195, 92);
  width: inherit;
  border-radius: 50%;
  position: absolute;
  top: -20;
  right: 0;
  font-size: 11px;
  /* padding: 3px; */
  min-width: 13px;
  text-align: center;
  color: black;
}
.cart_icon {
  font-size: 1.5rem;
  color: #484646;
}
.navbar_cart {
  position: relative;
}
.hamburger_menu {
  margin-left: 100px;
  /* width: 50px; */
  width: 29px;
  height: 50px;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburger_menu_firstLine {
  width: 100%;
  /* height: 5px; */
  height: 4px;
  background-color: black;
  transition: all 1s;
}
.hamburger_menu_secondLine {
  display: inline-block;
  width: 100%;
  /* height: 5px; */
  height: 4px;
  background-color: black;
  margin: 4px 0;
}
.hamburger_menu_thirdLine {
  width: 100%;
  /* height: 5px; */
  height: 4px;
  background-color: black;
  transition: all 1s;
}
.hamburger_menu_firstLine1 {
  width: 100%;
  /* height: 5px; */
  height: 4px;
  background-color: black;
  transition: all 1s;
  transform: rotate(45deg);
}
.hamburger_menu_secondLine2 {
  /* transform: rotate(45deg); */
  /* visibility: hidden; */
  display: none;
  width: 100%;
  height: 4px;
  /* height: 5px; */
  background-color: black;
  margin: 3px 0;
}
.hamburger_menu_thirdLine3 {
  transform: rotate(-45deg);
  width: 100%;
  height: 4px;
  /* height: 5px; */
  margin-top: -4px;
  background-color: black;
  transition: all 1s;
}
.mobile_menu {
  display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* tablet */
}

/* ============================ Phones =============== */
@media only screen and (max-width: 767px) {
  /* phones */

  .navbar_menu {
    display: none;
  }
  .hamburger_menu {
    margin-left: 100px;
    /* width: 34px; */
    width: 29px;
    height: 50px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mobile_menu {
    display: inline-block;
    margin-right: 10px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .mobile_navbar_menu {
    border: 2px solid red;
    position: fixed;
    top: 10;
    left: -100px;
    width: 0%;
    height: 100%;
    opacity: 0;
    /* background-color: rgb(135, 168, 240); */
    background-color: rgb(240 244 208);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all 1s;
    z-index: 999;
    /* display: none; */
  }
  .mobile_navbar_menu1 {
    /* background-color: rgb(135, 168, 240); */
    background-color: rgb(240 244 208);
    transition: all 1s;
    position: fixed;
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .mobile_navbar_ul {
    list-style: none;
    text-align: center;
    margin-top: -156px;
    margin-left: -26px;
    box-sizing: border-box;
  }
  .mobile_navbar_list {
    margin: 10px;
    font-size: 1.5rem;
  }
  .mobile_navbar_link,
  .mobile_cart_icon,
  .mobile_cart_count {
    color: black;
  }
  .mobile_navbar_cart {
    position: relative;
    font-size: 2rem;
  }
  .mobile_cart_count {
    font-size: 1rem;
    position: absolute;
    border-radius: 50%;
    color: aliceblue;
    top: -10;
    right: 0;
    /* background-color: blue; */
    background-color: #ea9ead;
    color: black;
    min-width: 1.2rem;
  }
}
